[Service]
Environment=GF_SERVER_DOMAIN={{DOMAIN}}
Environment=GF_SERVER_ROOT_URL=https://{{DOMAIN}}{{GRAFANA_PATH}}/
Environment=GF_SERVER_SERVE_FROM_SUB_PATH=true
Environment=GF_SERVER_HTTP_ADDR=127.0.0.1
Environment=GF_SERVER_HTTP_PORT=3000
Environment=GF_ANALYTICS_REPORTING_ENABLED=false
Environment=GF_ANALYTICS_CHECK_FOR_UPDATES=false
Environment=GF_SECURITY_COOKIE_SECURE=true
Environment=GF_SECURITY_COOKIE_SAMESITE=strict
