{% extends "base.jinja" %}
{% block content %}
    <section>
        <h1>technoeconomics.app</h1>
        <p class="subtitle">optimise energy systems</p>
        <a href="{{ url_for('industrial_heat') }}" role="button">Try the industrial heat model</a>
    </section>
{% endblock content %}
